{% extends 'base.html' %}
{% block conteudo %}
    <p>
        Temos buque para todos os tipos de ocasiões!
    </p>

    <img src="{{url_for('static', filename='imagens/buque1.png')}}">
    <img src="{{url_for('static', filename='imagens/buque2.png')}}">
    <img src="{{url_for('static', filename='imagens/buque3.png')}}">
    <img src="{{url_for('static', filename='imagens/buque4.png')}}">
    <img src="{{url_for('static', filename='imagens/buque5.png')}}">
    <img src="{{url_for('static', filename='imagens/buqu61.png')}}">
{% endblock %}
