{% extends 'base.html' %}
{% block conteudo %}
    <p>
        Encantando ao olhar!
    </p>

    <img src="{{url_for('static', filename='imagens/encantadas1.png')}}">
    <img src="{{url_for('static', filename='imagens/encantadas2.png')}}">
    <img src="{{url_for('static', filename='imagens/encantadas3.png')}}">
    <img src="{{url_for('static', filename='imagens/encantadas4.png')}}">
    <img src="{{url_for('static', filename='imagens/encantadas5.png')}}">
    <img src="{{url_for('static', filename='imagens/encantadas6.png')}}">
{% endblock %}
