{% extends 'base.html' %}
{% block conteudo %}
    <p>
        "Quando as palavras fogem, as flores falam!"
    </p>

    <img src="{{url_for('static', filename='imagens/floricultura.png')}}">
    <img src="{{url_for('static', filename='imagens/floricultura2.png')}}">
    </p>
    <img src="{{url_for('static', filename='imagens/Capturar.png')}}">
    <img src="{{url_for('static', filename='imagens/flor2.png')}}">
    <img src="{{url_for('static', filename='imagens/flor3.png')}}">

{% endblock %}