{% extends 'base.html' %}
{% block conteudo %}
 <section class="text-center">
     <br>
    <p>
        "O segredo é se permitir florescer! Mais que especiais! "
    </p>
     <br>
    <img src="{{url_for('static', filename='imagens/maisqueespeciais1.png')}}">
    <img src="{{url_for('static', filename='imagens/maisqueespeciais2.png')}}">
    <img src="{{url_for('static', filename='imagens/maisqueespeciais3.png')}}">
    <img src="{{url_for('static', filename='imagens/maisqueespeciais4.png')}}">
    <img src="{{url_for('static', filename='imagens/maisqueespeciais5.png')}}">
    <img src="{{url_for('static', filename='imagens/maisqueespeciais6.png')}}">
 </section>
{% endblock %}
